/* Reset y base general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --dark-color: #2c3e50;
    --light-color: #ecf0f1;
    --text-color: #333;
    --text-light: #fff;
    --Main-color: #FFB800;
    --Icon-color: #000000;

    /* Variables tipográficas */
    --font-main: 'Roboto', sans-serif;
    --font-title: 'Montserrat', sans-serif;

    /* Espaciado base */
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
}

html {
    font-size: 16px;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--Icon-color);
    overflow-x: hidden;
    /* Previene scroll horizontal */
}

header {
    position: absolute;
    top: 4.6875rem;
    left: 0rem;
    z-index: 10;
    width: 100%;
    background-color: #000000;

    .job-status {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        top: 0rem;
        left: 6rem;
        z-index: 10;
        padding: 0rem 0.8rem;
        font-weight: bold;

        h3 {
            background-color: var(--success-color);
            color: rgb(255, 255, 255);
        }

        .point-available {
            color: rgb(8, 228, 38);
            font-size: 2rem;
            animation: pulse 1.5s infinite ease-in-out;
            /* Nombre, duración, repetición, suavizado */
            display: inline-block;
        }
    }

    /*1366x768*/
    @media (min-width:320px) and (min-height:526px) {
        .job-status {
            position: absolute;
            top: -4rem;
            left: 1rem;
            padding: 0 0.2rem;
        }
    }

    @media (min-width:460px) and (min-height:526px) {
        .job-status {
            top: -2rem;
            left: 2rem;
        }
    }

    @media (min-width:768px) and (min-height:526px) {
        .job-status {
            top: 0rem;
            left: 6rem;
            padding: 0rem;
        }
    }

}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.3);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*navbar*/
.navbar {
    position: fixed;
    bottom: 4.6875rem;
    z-index: 10;
    border-radius: 1.5rem;
    width: 100%;

    & .navbar-content {
        margin: 0 auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff29;
        backdrop-filter: blur(10px);
        border-radius: 2rem;
        padding: 0.5rem;
        max-width: 1200px;
        margin: 0 auto;

        & a {
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            text-align: center;
            background-color: transparent;
            border-radius: 2rem;
            padding: 0.5rem;
            height: 48px;
            width: 170px;
            display: flex;
            justify-content: center;
            /*transition: color 0.3s ease;*/
            /* Suaviza el cambio de color */
        }

        & .active {
            color: var(--text-color);
            transition: color 0.3s ease;
        }

        & .nav-indicator {
            position: absolute;
            left: 0;
            height: 48px;
            background-color: white;
            border-radius: 2rem;
            /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);*/
            transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            z-index: -1;
            /* para que no tape los botones */
        }

    }

}

@media (min-width: 300px) {
    .navbar {
        flex-direction: row;
        bottom: 2rem;

        & .navbar-content {
            width: 95%;

            & a {
                height: 32px;
                width: fit-content;

                & p {
                    display: none;
                }
            }

            & .nav-indicator {
                height: 32px;
            }
        }
    }
}

@media (min-width: 550px) {
    .navbar {
        flex-direction: row;

        & .navbar-content {
            width: 90%;

            & a {
                & p {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        bottom: 4.6875rem;

        & .navbar-content {
            width: 85%;

            & a {
                height: 48px;
                width: 170px;

                & p {
                    display: block;
                }
            }

            & .nav-indicator {
                height: 48px;
            }
        }
    }
}

/*button cv float*/
.button-cv {
    position: fixed;
    top: 4.6875rem;
    right: 8rem;
    z-index: 1000;

    & .download-link {
        text-decoration: none;
        display: inline-block;

        & .animated-download {
            position: relative;
            overflow: hidden;
            height: 3rem;
            width: 10rem;
            border-radius: 2rem;
            background-color: var(--Main-color);
            color: black;
            font-weight: bold;
            cursor: pointer;
            border: none;

            & span {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                transition: transform 0.3s ease, background-color 0.3s ease;
                position: absolute;
                left: 0;
            }

            & .text {
                top: 0;
                transform: translateY(0);
            }

            & .icon {
                top: -100%;
                transform: translateY(0);
                font-size: 1.5rem;
            }

            &:hover .text {
                transform: translateY(100%);
                background-color: var(--text-light);
            }

            &:hover .icon {
                transform: translateY(100%);
                background-color: var(--text-light);
            }
        }
    }


}

/*button cv float 1366x768*/
@media (min-width:320px) and (min-height:526px) {
    .button-cv {
        position: fixed;
        top: 0.95rem;
        right: 1rem;
        z-index: 1000;
    }
}

@media (min-width:460px) and (min-height:526px) {
    .button-cv {
        top: 2.95rem;
    }
}

@media (min-width:768px) and (min-height:526px) {
    .button-cv {
        top: 4.95rem;
        right: 4rem;
    }
}



/*section main*/
main {
    position: relative;
    /* background: url(./img/gradient.png) no-repeat center center/cover; */
    background-attachment: fixed;

    .section {
        min-height: 100vh;
        padding-top: 60px;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
    }

    /*home 1366x768*/
    @media (min-width:320px) and (min-height:526px) {
        .home {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: clamp(3rem, 15vh, 15rem);
            height: 100vh;

            .initial-presentation {
                max-width: 1400px;
                width: 90%;
                margin: 0 auto;

                & h3 {
                    color: var(--Main-color);
                }

                & h1 {
                    color: var(--text-light);
                    font-size: clamp(1.5rem, min(4vw + 1rem, 6vh), 4rem);
                }

                & .contact-content {
                    display: grid;
                    gap: 1rem;
                    width: 60%;
                    padding: 1rem 0;
                    margin: 1rem 0;
                    grid-template-columns: 1fr;
                    width: 100%;

                    & .contact-information {
                        display: flex;
                        gap: 1rem;
                        align-items: center;

                        & iconify-icon {
                            font-size: 2rem;
                            color: var(--Main-color);
                        }

                        & p,
                        a {
                            font-size: 18px;
                            font-weight: bold;
                            color: var(--text-light);
                        }
                    }

                    .linkedin {
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    @media (min-width:768px) and (min-height:526px) {
        .home {
            padding-bottom: clamp(3rem, 30vh, 15rem);

            & .initial-presentation {
                max-width: 1165px;
                width: 85%;

                & .contact-content {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
            }
        }
    }

    @media (min-width:900px) and (min-height:526px) {
        .home {
            & .initial-presentation {
                & .contact-content {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    width: 82%;
                }
            }
        }
    }

    /*home 1920x1080*/
    @media (min-width:320px) and (min-height:527px) {
        .home {
            padding-bottom: clamp(3rem, 25vh, 15rem);

            & .initial-presentation {
                & .contact-content {
                    grid-template-columns: 1fr;
                    width: 100%;
                }
            }
        }
    }

    @media (min-width:768px) and (min-height:527px) {
        .home {
            padding-bottom: clamp(3rem, 30vh, 15rem);

            & .initial-presentation {
                padding: 0 1rem;
                max-width: 1165px;

                & .contact-content {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    width: 90%;
                }
            }
        }
    }

    @media (min-width:900px) and (min-height:527px) {
        .home {
            & .initial-presentation {
                & .contact-content {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    /* width: 75%; */
                }
            }
        }
    }

    @media (min-width:1100px) and (min-height:527px) {
        .home {
            & .initial-presentation {
                max-width: 1200px;
            }
        }
    }

    /*summary*/
    @media (min-width:320px) {
        .summary {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h2 {
                color: var(--Main-color);
                font-size: 2rem;
            }

            .experience-text {
                p {
                    color: var(--light-color);
                    font-size: 0.75rem;
                    margin-bottom: 0.5rem;
                }
            }

            .main-text {
                padding-left: 1rem;
                border-left: 3px solid var(--Main-color);

                h3 {
                    color: var(--text-light);
                    font-size: 1.5rem;
                }
            }
        }
    }

    @media (min-width:768px) {
        .summary {
            padding: 4rem;

            .main-text {
                padding-left: 1.5rem;
            }
        }
    }

    @media (min-width:900px) {
        .summary {
            display: grid;
            grid-template-columns: 1fr;
            /* El contenido interno ocupa 1fr */
            justify-content: start;
            /* Alinea el contenido a la izquierda */
        }

        .experience-text,
        .main-text {
            max-width: 600px;
        }
    }

    /*work experience*/
    @media (min-width:320px) {
        .work-experience {
            padding: 4rem 0 2rem 0;
            scrollbar-width: thin;
            scrollbar-color: var(--Main-color) rgba(0, 0, 0, 0.1);

            .tabs {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin: 2rem 0;
                padding: 0 1rem;
                color: var(--Main-color);

                .tab-button {
                    /* padding: 0.75rem 2rem; */
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    font-weight: bold;
                    transition: background-color 0.3s;
                    font-size: 2rem;
                    margin: 0;
                    color: rgba(184, 135, 11, 0.623);
                    transform: scale(0.8);
                }

                .tab-button.active {
                    background-color: transparent;
                    color: var(--Main-color);
                    transform: scale(1);
                    transition: transform 0.3s ease;
                }
            }

            .tab-content {
                display: none;
            }

            .tab-content.active {
                display: block;
            }

            .timeline-container {
                position: relative;
                padding-left: 27px;
            }

            .timeline-line {
                position: absolute;
                left: 16px;
                top: 24px;
                bottom: 0;
                width: 2px;
                background: linear-gradient(to bottom,
                        #e0e0e0 0%,
                        /* Color sólido arriba */
                        #e0e0e0 80%,
                        /* Mantiene color hasta el 80% */
                        rgba(224, 224, 224, 0) 100%
                        /* Transparencia completa al final */
                    );
            }

            .experience-item {
                position: relative;
                margin-bottom: 40px;
            }

            .experience-item::before {
                content: '';
                position: absolute;
                left: -16px;
                top: 24px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: var(--Main-color);
                z-index: 2;
            }

            .experience-item {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;

                .experience-header {

                    .experience-title-date {
                        display: flex;
                        justify-content: space-between;

                        h3 {
                            color: var(--Main-color);
                        }

                        p {
                            color: var(--text-light);
                        }
                    }

                    .experience-company {
                        p {
                            color: var(--Main-color);
                            font-size: 0.875rem;
                        }
                    }
                }

                .experience-content {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .experience-description {
                        color: var(--text-light);
                    }

                    .projects-links {
                        margin-top: 2rem;

                        h4 {
                            color: var(--Main-color);
                            font-size: 1.25rem;
                            margin-bottom: 1.5rem;
                        }

                        .project-gallery {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                            gap: 2rem;

                            .project-card {
                                position: relative;
                                border-radius: 12px;
                                overflow: hidden;
                                height: 300px;
                                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                                transition: transform 0.3s ease;
                                text-decoration: none;

                                &:hover {
                                    transform: translateY(-5px);
                                }

                                .project-image {
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    background-size: cover;
                                    background-position: center;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-end;
                                    padding: 1.5rem;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 50%);
                                        z-index: 1;
                                    }

                                    .project-content {
                                        position: relative;
                                        z-index: 2;

                                        .project-title {
                                            color: var(--Main-color);
                                            font-size: 1.5rem;
                                            margin-bottom: 0.5rem;
                                        }

                                        .project-description {
                                            color: #fff;
                                            font-size: 0.9rem;
                                            opacity: 0.9;
                                            line-height: 1.4;
                                        }
                                    }

                                    .project-link {
                                        position: absolute;
                                        top: 1.5rem;
                                        right: 1.5rem;
                                        z-index: 3;
                                        background: rgba(255, 255, 255, 0.2);
                                        backdrop-filter: blur(5px);
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        transition: all 0.3s ease;

                                        &:hover {
                                            background: var(--Main-color);
                                            transform: scale(1.1);
                                        }

                                        iconify-icon {
                                            font-size: 1.5rem;
                                            color: white;
                                            rotate: 45deg;
                                        }
                                    }
                                }
                            }
                        }

                        /*mover luego*/
                        @media (max-width: 768px) {
                            .project-gallery {
                                grid-template-columns: 1fr;

                                .project-card {
                                    height: 250px;
                                }
                            }
                        }
                    }

                    .experience-tasks {

                        h4 {
                            color: var(--Main-color);
                        }

                        ul {
                            padding-left: 0.75rem;

                            li {
                                list-style-type: "—";
                                color: var(--text-light);
                                font-size: 0.875rem;
                                padding-left: 0.5rem;
                            }

                            li::marker {
                                color: var(--Main-color);
                                font-size: 0.65rem;
                            }

                        }
                    }


                }
            }
        }

        .work-experience::-webkit-scrollbar {
            width: 6px;
        }

        .work-experience::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            margin: 4px 0;
        }

        .work-experience::-webkit-scrollbar-thumb {
            background: var(--Main-color);
            border-radius: 3px;
        }

        .work-experience::-webkit-scrollbar-thumb:hover {
            background: #e0a600;
        }
    }

    @media (min-width:768px) {
        .work-experience {
            padding: 4rem;
        }
    }

    @media (min-width:900px) {
        .work-experience {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: start;
            height: 100vh;
            overflow: auto;
            width: 75%;
            padding: 0 1rem 1rem 4rem;
            margin: 4rem 0;
        }

        .experience-item {
            max-width: 600px;
        }
    }

    @media (min-width:1512px) {
        .work-experience {
            width: 50%;
        }
    }

    /*Skills*/
    @media (min-width:320px) {
        .skills {
            padding: 2rem 1rem;

            h2 {
                color: var(--Main-color);
                font-size: 2rem;
            }

            /* --- Styles for Skills --- */
            .skill-tools {

                /*skills tabs*/
                .skills-tabs {
                    display: flex;
                    gap: 1rem;
                    margin: 2rem 0;
                    flex-wrap: wrap;

                    /*buttons*/
                    .skills-tab-button {
                        border: none;
                        background-color: transparent;
                        font-weight: bold;
                        font-size: 1.25rem;
                        cursor: pointer;
                        color: rgba(184, 135, 11, 0.623);

                        transition: color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
                    }

                    .skills-tab-button.active {
                        color: var(--Main-color);
                        border-left: 2px solid var(--Main-color);
                        padding-left: 4px;
                        transform: scale(1.1);
                    }
                }

                .skills-tab-content {
                    display: none;
                    margin-top: 1rem;

                    .skills-list {
                        list-style: none;

                        li {
                            padding-left: 8px;
                            color: var(--text-light);
                            font-size: 20px;
                            font-weight: 600;
                        }

                        li::before {
                            content: "•";
                            color: var(--Main-color);
                            font-size: 1.5rem;
                            margin-right: 8px;
                        }
                    }
                }

                .skills-tab-content.active {
                    display: block;
                }

                /*icon section*/
                .tools-grid {
                    padding: 4rem 0rem;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
                    gap: 20px;

                    .tool-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 8px;

                        img {
                            width: 60px;
                            height: 60px;
                            object-fit: contain;
                            transition: transform 0.3s;
                        }

                        img:hover {
                            transform: scale(1.1);
                        }

                        span {
                            font-size: 0.975rem;
                            font-weight: 500;
                            text-align: center;
                            color: var(--text-light);
                        }

                    }
                }
            }

            /* --- Styles for Languages --- */
            .languages {

                .language-item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;

                    .language-name {
                        color: var(--text-light);
                        font-size: 1.25rem;
                        font-weight: 600;
                        display: inline-block;
                        width: 140px;
                    }

                    .language-progress {
                        width: 60%;
                        /* Ancho de la barra */
                        height: 8px;
                        margin-left: 1rem;
                        border-radius: 4px;
                        border: none;
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    /* Estilos para navegadores WebKit (Chrome, Safari) */
                    .language-progress::-webkit-progress-bar {
                        background-color: rgba(255, 255, 255, 0.2);
                        border-radius: 4px;
                    }

                    .language-progress::-webkit-progress-value {
                        background-color: var(--Main-color);
                        border-radius: 4px;
                    }

                    /* Estilos para Firefox */
                    .language-progress::-moz-progress-bar {
                        background-color: var(--Main-color);
                        border-radius: 4px;
                    }
                }
            }

            /* --- Styles for Education/Certifications --- */
            .education {
                padding: 2rem 0;

                .timeline-container {
                    position: relative;
                    padding-left: 36px;
                    margin-top: 1rem;

                    .timeline-line {
                        position: absolute;
                        left: 26px;
                        top: 0;
                        bottom: 0;
                        width: 2px;
                        background: linear-gradient(to bottom,
                                var(--Main-color) 0%,
                                rgba(255, 184, 0, 0.3) 100%);
                    }

                    .education-item {
                        position: relative;
                        margin-bottom: 2rem;
                        display: flex;
                        align-items: flex-start;

                        .education-dot {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: var(--Main-color);
                            position: absolute;
                            left: -30px;
                            top: 8px;
                        }

                        .education-content {

                            h3 {
                                color: var(--text-light);
                                font-size: 1.1rem;
                                margin-bottom: 0.25rem;
                            }

                            .education-meta {
                                color: var(--Main-color);
                                font-size: 0.875rem;
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width:768px) {
        .skills {
            padding: 0rem 5rem;
        }
    }

    @media (min-width:900px) {
        .skills {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: start;
        }

        .skill-category,
        .tools-grid,
        .language-item {
            max-width: 600px;
        }
    }

    /*Contact*/
    @media (min-width:320px) {
        .contact-section {
            padding: 2rem 1rem;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            gap: 2rem;

            h2 {
                color: var(--Main-color);
                font-size: 2rem;
            }

            /* Redes Sociales */
            .social-links {
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;

                .social-icon {
                    transition: transform 0.3s, color 0.3s;
                }

                .social-icon:hover {
                    transform: scale(1.1);
                }
            }

            /* Información de Contacto */
            .contact-info {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .contact-information {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    iconify-icon {
                        color: var(--Main-color);
                        font-size: 1.5rem;
                    }

                    p {
                        color: var(--text-light);
                        font-size: 1rem;
                    }
                }
            }

            /* Copyright */
            .copyright {
                color: var(--text-light);
                opacity: 0.7;
                font-size: 0.875rem;

                strong {
                    color: var(--Main-color);
                }
            }
        }
    }

    @media (min-width:768px) {
        .contact-section {
            padding: 4rem;
            gap: 6rem;
        }
    }

    @media (min-width:900px) {
        .contact-section {
            .contact-info {
                flex-direction: row;
                gap: 2rem;
            }
        }
    }

}

main::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.3s ease;
    z-index: 1;
}

/*animacion de aparicion con scroll*/
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.6s ease-out;
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}

/*modal*/

@media (min-width:320px) {
    .project-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;

        & .project-modal-dialog {
            background-color: var(--dark-color, #2c3e50);
            color: var(--text-light, #ffffff);
            width: 100%;
            max-width: 800px;
            height: 100vh;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

            /*para animacion de apertura del modal*/
            scale: 1;
            transition: scale 0.3s ease, display 0.3s allow-discrete, overlay 0.3s allow-discrete;
            @starting-style {
                scale: 0;
            }

            & .project-modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 1.5rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                & .modal-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin: 0;
                }

                & .modal-close {
                    background: none;
                    border: none;
                    color: var(--text-light, #fff);
                    font-size: 2rem;
                    cursor: pointer;
                    transition: transform 0.2s ease;
                }

                & .modal-close:hover {
                    transform: scale(1.5);
                }
            }

            & .project-modal-content {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;

                & .modal-image-wrapper {
                    width: 100%;
                    display: flex;

                    & .modal-image-slider {
                        display: flex;
                        gap: 10px;
                        overflow-x: scroll;
                        padding-bottom: 1rem;

                        & img {
                            width: 100%;
                            height: auto;
                            border-radius: 0.5rem;
                            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
                            position: sticky;
                            left: 0;
                            object-fit: cover;
                        }

                        /* Scroll personalizado (WebKit) */
                        &::-webkit-scrollbar {
                            width: 6px;
                            height: 8px;
                        }

                        &::-webkit-scrollbar-track {
                            background: rgba(0, 0, 0, 0);
                            border-radius: 2px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: rgba(255, 255, 255, 0.4);
                            border-radius: 10px;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: rgba(255, 255, 255, 0.6);
                        }
                    }

                }

                & .modal-description-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;

                    & #modal-description {
                        font-size: 1rem;
                        line-height: 1.6;
                        color: var(--light-color, #ecf0f1);
                        overflow-y: auto;
                        flex: 1;

                        /* Scroll personalizado (WebKit) */
                        &::-webkit-scrollbar {
                            width: 6px;
                        }

                        &::-webkit-scrollbar-track {
                            background: rgba(0, 0, 0, 0.1);
                            border-radius: 3px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: rgba(255, 255, 255, 0.4);
                            border-radius: 3px;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: rgba(255, 255, 255, 0.6);
                        }

                        /*Firefox*/
                        scrollbar-width: thin;
                        scrollbar-color: rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

        & .container-modal-link {
            width: 100%;
            padding: 0rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            flex: 1;
            margin-bottom: 2rem;

            & .tech-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                align-content: center;

                & .tech-tag {
                    background-color: rgba(255, 255, 255, 0.1);
                    color: var(--text-light, #ffffff);
                    padding: 0.4rem 0.8rem;
                    border-radius: 999px;
                    font-size: 0.875rem;
                    font-weight: 500;
                    white-space: nowrap;
                    height: fit-content;
                }
            }

            & .modal-link {
                display: inline-block;
                background-color: var(--Main-color, #FFB800);
                color: #000;
                font-weight: bold;
                text-decoration: none;
                padding: 0.75rem 1.5rem;
                text-align: center;
                transition: background-color 0.3s ease;
                border-radius: 1rem;
            }

            & .modal-link:hover {
                background-color: #e0a600;
            }
        }
    }
}

@media (min-width:768px) {
    /* .project-modal {} */
}

@media (min-width:900px) {
    .project-modal {
        & .project-modal-dialog {
            border-radius: 1rem;
            width: 90%;
            max-width: 800px;
            max-height: 90vh;
            height: unset;

            & .project-modal-content {
                flex-direction: row;
                padding: 1.5rem 1.5rem 0 1.5rem;

                & .modal-image-wrapper {
                    width: 60%;
                }

                & .modal-description-wrapper {
                    width: 50%;

                    & #modal-description {
                        height: 13rem;
                        flex: none;
                    }
                }
            }
        }

        & .container-modal-link {
            padding: 1rem 1.5rem;
            flex-direction: row;
            align-items: center;

            & .tech-tags {
                width: 55%;
            }
        }
    }
}


/* Sistema de partículas - contenedor fijo -- falta anidamiento */
#particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

#particles-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.particle {
    position: absolute;
    border-radius: 50%;
    background: var(--Main-color);
    opacity: 0.5;
    transition: transform 0.3s ease-out;
}

/* Efectos de brillo de fondo */
.glow {
    position: fixed;
    border-radius: 50%;
    filter: blur(180px);
    pointer-events: none;
    z-index: 0;
}

.glow-1 {
    top: -150px;
    left: -150px;
    width: 55vw;
    height: 55vh;
    opacity: 0.6;
    background: radial-gradient(circle, rgba(100, 150, 255, 0.8), transparent 70%);
    animation: subtle-move 20s infinite alternate ease-in-out;
}

.glow-2 {
    bottom: -100px;
    right: -100px;
    width: 80vw;
    height: 80vh;
    opacity: 0.7;
    background: radial-gradient(circle, rgba(165, 96, 255, 0.8), transparent 70%);
    animation: subtle-move 25s infinite alternate reverse ease-in-out;
}

/* Animación para los brillos */
@keyframes subtle-move {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(40px, 30px) scale(1.1);
    }

    100% {
        transform: translate(0, 0);
    }
}